* { 
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-family: sans-serif;
}

.container {
  width: 1168px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  margin-bottom: 70px;
}

.section-header {
  margin-left: 45px;
  margin-bottom: 30px;
}

/* Header */

.header {
  margin-bottom: 70px;
}

.header-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  margin-right: 25px;
}

.phone {
  margin-right: auto;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header-list {
  display: flex;
  margin-right: auto;
}

.header-item:not(:last-child) {
  margin-right: 45px;
}

.search {
  position: relative;
  width: 300px;
  height: 50px;
}

.search input {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  background-color: #f6f6f6;
  border-radius: 25px;
  border: none;
}


.search-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url('https://banner2.kisspng.com/20180324/ukw/kisspng-magnifying-glass-computer-icons-magnifier-loupe-5ab62e7a2951b1.3568255815218888901693.jpg');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.reservation {
  margin-right: auto;
}


.reservation-offer {
  display: flex;
}

.reservation-input {
  padding-right: 500px;
}

.reservation-par {
  display: inline;
}

.Special-Offer-price {
  display: inline;
}

.Services {
  display: flex;
  flex-wrap: wrap;
}

.service {
  flex: 1 1 50%;
  padding-right: 25px;
}

.Benefits-list {
  display: flex;
  flex-wrap: wrap;
}

.Benefits-item {
  margin-left: 20px;
  flex: 1 1 20%;
  max-width: 275px;
}

.Placing-list {
  display: flex;
  flex-wrap: wrap;
}

.Placing-about {
  margin-bottom: 20px;
}

.Placing-item {
  max-width: 370px;
  margin-left: 25px;
  flex: 1 1 25%;
  min-height: 440px;
  margin-bottom: 25px;
}

.Placing-text {
  display: inline-block;
  margin: 0;
  line-height: 2;
}

.Placing-img {
  margin-bottom: 35px;
}

.placing-link {
  background-image: url(/img/JPG/41.jpg);
}

.star {
  vertical-align: top;
}






