@font-face {
  font-family: "Muller";
  src: url("/fonts/MullerBold.woff") format("woff"),
  url("/fonts/MullerBold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Muller";
  src: url("/fonts/MullerLight.woff") format("woff"),
  url("/fonts/MullerLight.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Muller";
  src: url("/fonts/MullerMedium.woff") format("woff"),
  url("/fonts/MullerMedium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Muller";
  src: url("/fonts/MullerRegular.woff") format("woff"),
  url("/fonts/MullerRegular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

:root {
  --header: #333;
  --button: #cc9933;
  --text: #999;
}

* { 
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: filter .5s ease;
}

button {
  transition: filter .5s ease;
}

button:hover {
  filter: brightness(75%);
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
  outline: none;
}

a:hover {
  filter: brightness(50%);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-family: Muller, sans-serif;
  font-weight: normal;
}

.container {
  width: 1168px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}

.section {
  margin-bottom: 70px;
}

.section-header {
  font-weight: normal;
  font-size: 40px;
  line-height: 32px;
  margin-left: 45px;
  margin-bottom: 30px;
  color: var(--header);
}

/* Header */

.header {
  margin-bottom: 70px;
}

.header-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  margin-right: 25px;
}

.phone {
  margin-right: auto;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  color: #666666;
}

.account-arrow {
  background-image: url("/img/PNG/keyboard_tab.png");
  background-size: contain;
  width: 21px;
  height: 12px;
  margin-right: 5px;
}

.account {
  font-size: 16px;
  list-style: 32px;
  color: var(--button);
}

.header-nav {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header-list {
  display: flex;
  margin-right: auto;
}

.header-item {
  font-size: 16px;
  line-height: 32px;
  color: var(--header);
}

.header-item:not(:last-child) {
  margin-right: 45px;
}

.search {
  position: relative;
  width: 300px;
  height: 50px;
}

.search input {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  background-color: #f6f6f6;
  border-radius: 25px;
  border: none;
}


.search-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url('https://banner2.kisspng.com/20180324/ukw/kisspng-magnifying-glass-computer-icons-magnifier-loupe-5ab62e7a2951b1.3568255815218888901693.jpg');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Reservation */

.reservation {
  margin-right: auto;
}


.reservation-offer {
  display: flex;
  margin: auto;
}

.reservation-input {
  width: 500px;
  height: 70px;
  border: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--text);
  margin-bottom: 25px;
  display: block;
}

.reservation-btn {
  display: inline-block;
  margin-right: 30px;
  padding: 27px 30px;
  border: none;
  border-radius: 12px;
  background-color: var(--button);
  font-weight: bold;
  font-size: 16px;
  line-height: 2;
  color: #fff;
}

.reservation-par {
  display: inline;
  font-weight: normal;
  font-size: 16px;
  line-height: 2;
  color: var(--text);
}

.reservation-available {
  color: var(--button);
  font-weight: normal;
}

/* Special Offer */

.special-offer-img {
  width: 595px;
  height: 540px;
  background-image: url(/img/JPG/22.jpg);
  display: table-cell;
  vertical-align: bottom;
}

.Special-Offer-offer-name {
  display: inline-block;
  margin: 40px;
  font-weight: bold;
  font-size: 66px;
  line-height: 0.88;
  color: #ffffff;
}

.Special-Offer-price {
  margin: 0 40px 35px;
  display: inline-block;
  opacity: 0.49;
  font-size: 35px;
  line-height: 0.91;
  color: rgba(255, 255, 255, 0.49);
}

.Special-Offer-more {
  font-size: 16px;
  line-height: 2;
  color: #ffcc66;
}

/* About Us */
.About-Us-text {
  font-size: 16px;
  line-height: 2;
  color: #666666;
  margin: auto;
}

/* Services */
.Services {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center; 
  justify-content: space-between;
}

.service {
  flex: 0 0 50%;
  max-width: 570px;
}

.service-img {
  margin-bottom: 35px;
}

.service-link {
  margin-left: 45px;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.45;
  color: var(--button);
}

.service-text {
  margin-bottom: 40px;
  margin-left: 45px;
  font-size: 16px;
  line-height: 2;
  color: var(--header)333;
}

/* Benefits */

.Benefits-list {
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
  align-content: center;
}

.Benefits-item {
  min-width: 275px;
  min-height: 275px;
  flex: 0 0 15%;
}

.Benefits-item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.Benefits-text {
  font-size: 16px;
  line-height: 2;
  color: var(--header)333;
}

/* Placing */

.Placing-list {
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
  align-content: center; 
  justify-content: space-between;
}

.Placing-item {
  max-width: 370px;
  flex: 0 0 33.33%;
  min-height: 440px;
  margin-bottom: 25px;
}

.Placing-about {
  margin-bottom: 20px;
}

.Placing-text {
  transform: translateY(-16px);
  margin: 0;
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  line-height: 2;
  color: #969696;
}

.price {
  font-weight: bold;
  font-size: 22px;
  color: var(--header);
}

.placing-name {
  color: var(--header);
}

.placing-link-btn {
  min-width: 100px;
  min-height: 41px;
  border-radius: 12px;
  border: solid 1px #cc9933;
  background: none;
}

.Placing-img {
  margin-bottom: 35px;
}

.more-link > * {
  position: relative;
}

.more-link {
  position: relative;
  display: table;
  width: 373px;
  height: 441px;
  font-size: 22px;
  line-height: 1.45;
  color: #ffffff;
}

.more-link p {
  display: table-cell;
  vertical-align: bottom;
  padding-left: 40px;
  padding-bottom: 50px;
}

.more-link::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(/img/JPG/41.jpg);
}

.star {
  vertical-align: top;
}

/* Contacts */

.contacts {
  width: 472px;
}

.contacts-write {
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
  align-content: center; 
  justify-content: space-between;
}

.contacts-section {
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.contacts-section-header {
  margin-left: 45px;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.45;
  color: #666666;
}

.contacts-section-text {
  margin-left: auto;
  margin-right: 55px;
  width: 228px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--header)333;
}

.contacts-phone {
  font-size: 16px;
  line-height: 1.5;
  color: var(--button);
}

.mail-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}

.contacts-mail {
  color: var(--button);
}

.contacts-btn {
  margin-top: 45px;
  min-width: 214px;
  min-height: 70px;
  border-radius: 12px;
  border: solid 1px #cc9933;
  background-color: white;
  font-size: 16px;
  line-height: 2;
  text-align: center;
  color: var(--button);
}

/* write */

.write {
  width: 340px;
  margin-left: 180px;
  margin-right: auto;
}

.write-form-input {
  margin-bottom: 23px;
  vertical-align: center;
  width: 340px;
  height: 70px;
  background-color: #ffffff;
  border: none;
  font-size: 16px;
  line-height: 2;
  color: var(--text);
}

.write-form-textarea {
  width: 340px;
  height: 110px;
  background-color: #ffffff;
  border: none;
  resize: none;
}

.write-form-btn {
  width: 340px;
  min-height: 70px;
  border-radius: 12px;
  background-color: var(--button);
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 2;
  text-align: center;
  color: #fff;
}

/* Footer */

.footer-info {
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
  align-content: center; 
  justify-content: space-between;
  margin-top: 65px;
  border-radius: 12px;
  background-color: var(--header);
}

.info {
  margin: 50px;
  margin-right: 125px;
  display: inline-block;
  width: 297px;
  font-size: 16px;
  line-height: 2;
  color: #ffffff;
}

.corp {
  margin-bottom: 45px;
}

.info-text {
  margin-bottom: 45px;
}

.polit {
  color: var(--button);
}

.info-contacts {
  margin-right: auto;
  vertical-align: top;
  display: inline-block;
  width: 360px;
  font-size: 16px;
  line-height: 1.5;
}

.adres {
  padding: 0;
  color: #fff;
  margin-bottom: 45px;
}

.info-phones {
  margin-bottom: 45px;
}

.info-contacts-phone {
  display: block;
  color: var(--button);
}

.info-contacts-mail {
  display: block;
  color: var(--button);
}

.links-list {
  margin-left: auto;
  margin-right: 50px;
}

.item {
  width: 24px;
  height: 24px;
  background-size: contain;
  margin-bottom: 22px;
}

.trip {
  background-image: url(/img/PNG/tripadvisor.png);
}

.twiter {
  background-image: url(/img/PNG/twitter.png);
}

.facebook {
  background-image: url(/img/PNG/facebook.png);
}

.vk {
  background-image: url(/img/PNG/social.png);
}

.google {
  background-image: url(/img/PNG/google-plus-social-logotype.png);
}

.footer-img {
  position: absolute;
  transform: translateY(100px);
  right: 550px;
  width: 258px;
  height: 228px;
}